<% if @posts != nil %>
<%= render 'shared/error_messages' %>
<div id="wall">
<%= form_tag(posts_path, method: "post") do %>
  <%= label :content , "Post Here!"%>
  <br>
  <%= text_area_tag(:content) %>
  <% receiverId = 0 %>
  <% if @user != nil %>
  	<% receiverId = @user.id %>
  <% end %>
  <%= hidden_field_tag(:receiver_id, "#{receiverId}") %>
  <%= hidden_field_tag(:sender_id, "#{current_user.id}") %>
  <br>
  <%= submit_tag("Submit")%>
  </p>
<%end %>

<%postNum = 1%>
<% @posts.each do |post| %>
	<% user = User.find(post.sender_id) %>
	<%=  link_to image_tag("#{user.picture}" , alt: "WallPost#{postNum}", width: "40", height: "25"), user_path(user)%>
	
	<%= link_to "#{user.first_name} #{user.last_name}:", user_path(user) %>
	<br>

	<%= post.content %>
	<% postNum+=1%>
	<br>
	<font size ="1">
	<%= "#{post.created_at}" %>
	</font> 
	</p>
<%end %>
</div>
<%end %>
