= render :partial =>  "shared/error_messages"
= form_tag posts_path, :method => :post do

  = label :post, :content, 'Post Here!'
  <br>
  = text_area :post, :content
  <br>
  = hidden_field_tag :receiver_id,
  @receiverUserId 
  = hidden_field_tag :sender_id, current_user.id
  = submit_tag 'Submit'
  <br>

%ul
-@posts.each do |post|
  %li #{post.sender_id}  #{post.content} 
