<h1> Find Friends</h1>


<% if (not flash[:failed].nil?) then %>

    <h2 id="error">
        <%= "#{flash[:failed]}" %>
    </h2>

<% end%>
    <%= form_tag(findfriends_path, method: "get") do %>
    <%= label_tag(:user, "Search for:") %>
<%= text_field_tag("name") %>
<%= submit_tag("Search", :id => "Search")%>
<% end %>
<% if (@options != nil) then %>
    <% @options.each do |user| %>
    <%= render :partial =>'shared/friend_request', :locals => {:user=> user , :profile =>false} %>
    </td>
    <br>
</tr>
  <%end %>
<% end %>
