<%= form_tag("/findfriends", method: "get") do %>
    <%= label_tag(:user, "Search for:") %>
<%= text_field_tag("name") %>
<%= submit_tag("Search", :id => "Search")%>
<% end %>
<% if (@options != nil) then %>
    <% @options.each do |user| %>
    Name: <br />
<tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
</tr>
  <%end %>
<% end %>
