<!DOCTYPE html>
<html>
<head>
<title>MyBook | <%= yield(:title) %> </title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<header class="mainheader">
<div class="mainheader">
<%= link_to image_tag("MyBookBanner.png", alt: "Welcome to MyBook"), newsfeed_path %>
</div>
</header>
<div class="container">
<div id="sidebar">
<%= link_to image_tag("rails.png", alt: "Profile Pictures"), 'profile' %>
<li><%= link_to "Find Friends",    '/findfriends' %></li>
<li><%= link_to "preferences",     '/preferences' %></li>
<li><%= link_to "logout",     '/logout' %></li>
</div>
<div id="content">
<%= yield %>
</div>
<div id="footer">
<p> MyBook was created as a student project for CSCI 3308. It was developed in Ruby on Rails. </p>
</div>
</div>
</body>
</html>
